<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BookcommentMapper">
  <resultMap id="BookcommentMap" type="com.example.demo.model.Bookcomment">
    <result column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="comment_text" jdbcType="VARCHAR" property="commentText" />
    <result column="comment_modifytime" jdbcType="TIMESTAMP" property="commentModifytime" />
  </resultMap>
  
</mapper>